.footer-content{
    text-align: center;
}


.footer-box{
    font-size: 120%;
    text-align: center;

}

.footer-links a{
    color: #000000;

}


.footer-links a:hover{
    text-decoration: none;

}